/* Start My Framework */
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
}

.contanier {
  width: 95%;
  margin: auto;
  background-color: #fff;
}

.contanier-c {
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.6;
}

/* End My Framework */

/* Start Header */
header {
  display: flex;
  align-items: flex-end;
  background-image: url("../images/simple-house-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 460px;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}

header nav .logo-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  color: #fff;
  font-size: 20px;
}

header nav .logo-left h1 {
  margin-bottom: 10px;
}

header nav .right-links ul {
  display: flex;
  padding-left: 0;
}

header nav .right-links ul li {
  padding: 10px;
  display: flex;
}

header nav .right-links ul li a {
  color: #fff;
}

header nav .right-links ul li:hover {
  border-bottom: 1px solid #ccc;
}

/* End Header */

/* Start Main Section */
.main {
  padding: 70px 0;
  text-align: center;
}

.main p {
  width: 50%;
  margin: 30px auto;
}

.main .list-food ul {
  display: flex;
  justify-content: center;
}

.main .list-food ul li {
  width: 100px;
  padding: 10px;
  border: 1px solid #2f956d;
  margin: 0 10px;
  transition: all .5s;
}

.main .list-food ul .active,
.main .list-food ul .active a  {
  background-color: #2f956d;
  color: #fff;
}

.main .list-food ul li a {
  color: #2f956d;
}

.main .list-food ul li:hover {
  background-color: #2f956d;
  cursor: pointer;
}

.main .list-food ul li:hover a {
  color: #fff;
}
/* End Main Section */

/* Start Section Food Items */
.food .contanier-c {
  display: flex;
  flex-wrap: wrap;
}

.food article {
  width: calc((100% - 80px) / 4);
  margin: 20px 10px;
}

.food article img {
  transition: all 1s;
}

.food article img:hover {
  transform: scale(1.1);
}

.food article figcaption {
  width: 90%;
}

.food article figcaption h3,
p,
span {
  margin: 10px 0;
}

.food article figcaption h3 {
  color: #6484be;
}

.food article figcaption span {
  color: #2f956d;
}

/* End Section Food Items */

/* Start Article */

article .contanier-c {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

article .contanier-c .photo {
  width: 50%;
}

article .contanier-c .photo img {
  width: 100%;
  height: 100%;
}

article .contanier-c .text {
  width: 50%;
  padding: 0 100px 0 40px ;
}

article .contanier-c .text a {
  color: #00f;
}

article .contanier-c .text h3 {
  color: #6484be;
}

article .contanier-c .text .read {
  display: flex;
  justify-content: end;
}

article .contanier-c .text .read button {
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 17px;
  padding: 10px;
  color: gray;
}

/* End Article */

/* Start Footer */
footer {
  padding: 20px 0;
  text-align: center;
  color: gray;
}
/* End Footer */
